
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  color: #fff;
}
#showcase{
  height: 130vh;
  background-image: url(/img/Copy\ of\ FB_IMG_1701400482362.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay{
  height: 130vh;
  background: rgba(0, 0, 0, 0.8);
}
.container{
  display: flex;
}
nav{
  padding: 10px;
}
.logo{
  text-align: center;
  margin-top: 15px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.navbar{
  margin-top: 2rem;
}
ul li {
    transform: rotate(-90deg);
    display: block;
    margin-top: 55px; /* Adjust the margin-top value to your preference */
    margin-bottom: 10px; /* Adjust the margin-bottom value to your preference */
    padding-top: 10px; /* Adjust the padding-top value to your preference */
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

a {
    color: #fff;
    text-decoration: none; /* Remove the default underline */
}

a:hover {
    color: #ffd700; /* Change the text color on hover */
}


.icons{
  text-align: center;
  margin-top: 8rem;
}
.icons li{
  transform: none;
  margin: 10px auto;
  padding: 0;
  height: 35px;
  width: 40px;
}
.icons li i{
  font-size: 16px;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgb(82, 81, 81);
}
i:hover{
  background: gray;
  transition: all 0.5s;
}
.line{
  border: 1px solid gray;
  height: 130vh;
  margin-left: 10px;
}

/* Main Section */
.main{
  padding: 20px 40px;
  margin-top: 20px;
}
.main h4{
  margin-top: 3rem;
  text-transform: uppercase;
  color: rgb(189, 184, 184);
}
.main h1{
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 4rem;
}
.main span{
  color: #FFA500;
}
.main p{
  font-size: 20px;
  color: rgb(189, 184, 184);
  text-transform: capitalize;
}
.buttons{
  margin-top: 2.5rem;
}
.buttons button{
  padding: 8px 14px;
  background: rgb(48, 92, 172);
  color: #fff;
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
}
.btn2{
  background: rgb(61, 61, 61) !important;
}
button:hover{
  background: rgba(15, 65, 88, 0.5);
  transition: all 0.5s;
}
.btn2:hover{
  background: rgba(76, 75, 77, 0.5) !important;
}
.projects{
  margin-top: 5rem;
  text-align: center;
}
.projects span{
  color: #fff;
  font-size: 20px;
}
.projects td{
  font-size: 12px;
  padding-right: 2rem;
  color: gray;
}